Form Button {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	color: #313131;
}

h6 {
	color: greenyellow;
}

hr.line {
	border: 1px solid #313131;
	width: 175px;
}

.leave-room {
	text-align: right;
	margin-bottom: 4px;
	font-weight: bold;
}

.user-list {
	float: left;
	background-color: #313131;
	color: white;
	width: 200px;
	height: 440px;
	margin-right: 4px;
}

.message {
	display: inline-flex;
	margin: 0px auto 0px auto;
	padding: 5px;
	font-size: 18px;
	color: white;
	border-radius: 20px;
	margin-top: 3px;
}

.from-user {
	font-size: small;
	margin-bottom: 3px;
	margin-right: 5px;
}
